<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
  <script src="libs/jquery/jquery.js"></script>
  <script src="libs/popper/popper.js"></script>
  <script src="libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3-color.v1.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <link rel="stylesheet" href="font/css/open-iconic-bootstrap.css"></script>
  <title>CanvaxChat</title>
</head>
<body>
  <div class="col" id="titleHeader">
    <div class="container-fluid">
      <div class = "header-image">
        <img src = "assets/title.png" alt = "Canvax Chat">
      </div>
    </div>
  </div>
  <div class="float-right private-channel">
    <button class="btn btn-secondary" onclick="create_private_room()">
      <i class="oi oi-plus"></i> Create a Private Canvax!
    </button>
  </div>
  <div class="container-fluid body canvax-chat-canvas">
	<div class="canvax-main">
		<!-- Title header -->
		<div class="button-toggle-tools">
		  <h3 class="inline-header">Tools:</h3>
		  <button class="btn btn-outline-primary" data-command="freeDraw">
			  <i class="oi oi-pencil"></i> Free draw
		  </button>
		  <button class="btn btn-outline-primary" data-command="panTool">
			  <i class="oi oi-move"></i> Move
      </button>
      <button class="btn btn-outline-secondary" data-command="changeName">
			  <i class="oi oi-move"></i> Change Name
		  </button>
		</div>
		<!-- Main Page content -->
		<div class="row">
		  <div class="col">
			<canvas class="whiteboard"></canvas>
		  </div>
		</div>
	</div>
	<div class="chat-message-window" id="chat-message-window">
		<div id="chat-messages">
		</div> 
	  <div class="input-group">
		  <input id="chat-input" type="text" class="form-control" placeholder ="message..." aria-label="Search for...">
		  <span class="input-group-btn">
			<button id="send-message-button" class="btn btn-outline-primary" type="button">send</button>
		  </span>
		</div>
	  </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="Tool.js"></script>
  <script src="FreeDraw.js"></script>
  <script src="PanTool.js"></script>
  <script src="CanvasHistory.js"></script>
  <script src="index.js"></script>
</body>
</html>