.whiteboard {
  cursor: crosshair;
}

.header {
  border-bottom: 1px solid black;
}

.header-image {
	text-align: center;
	padding-right: 20%;
	padding-left: 20%;
}

.header-image img {
	max-width: 100%;
}

[id^="cursor"] {
	pointer-events: none;
}

.private-channel{
	padding-top: 10px;
}

#titleHeader {
	background-color: #eee;
	padding-top: 45px;
	padding-bottom: 45px;
	border-bottom: 3px solid #83C0FF;
}

.body {
	border-top: 1px solid #2360FB;
}

.inline-header {
	display: inline-block;
}

.chat-username {
  font-weight: 700;
}

.canvax-chat-canvas {
	display: flex;
}

.canvax-main {
	flex: 1 1 auto;
}

.canvax-main {
	flex: 2 1 auto;
}

.chat-message-window {
	flex: 0 0 200px;
	font-size: 12px;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.input-group-btn {
	font-size: 12px;
}